<div class="row">
    <div class="col-md-12">
        <h4>Organization with ID = {{ organization._id }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre>
            name: {{ organization.name }}
            url: {{ organization.url }}
            external_id: {{ organization.external_id }}
            domain_names: {{ organization.domain_names }}
            created_at: {{ organization.created_at }}
            details: {{ organization.details }}
            shared_tickets: {{ organization.shared_tickets }}
            tags: {{ organization.tags }}
            ticket_subjects: {{ organization.ticket_subjects }}
            user_names: {{ organization.user_names }}
        </pre>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Back</span>
        </button>
    </div>
</div>
