<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Welcome, Tokoin!</h1>
            </div>

            <div class="col-md-12">
                <div [ngSwitch]="isAuthenticated()">
                    <div class="alert alert-success" *ngSwitchCase="true">
                        <span id="home-logged-message" *ngIf="account"
                           > You are logged in as user "{{account.login}}". </span>
                    </div>

                    <div class="alert alert-warning" *ngSwitchCase="false">
                        <span>If you want to </span>
                        <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-primary">
                    <p>Website demo to search the data and return the results. You can try it by clicking below!!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a routerLink="organization" class="v-link">
                    <div class="v-box">
                        <span>Organization</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a routerLink="user" class="v-link">
                    <div class="v-box">
                        <span>User</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a routerLink="ticket" class="v-link">
                    <div class="v-box">
                        <span>Ticket</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
